{% extends 'cursos/base.html' %}
{% load static %}
{% block contenido %}

<h1 style="color: white;">Lista de Cursos</h1>

<a href="{% url 'NuevoCurso' %}">Nuevo Curso</a>
{% for curso in cursos  %}

<li style="color: white;">Nombre: {{curso.nombre}}
    <p>
        <a href="{% url 'DetalleCurso' curso.pk %}">Ver</a>
        {% if request.user.is_superuser %}
        <a href="{% url 'EditarCurso' curso.pk %}">Editar</a>
        <a href="{% url 'BorrarCurso' curso.pk %}">Borrar</a>
        {% endif %}
    </p>

</li>

{% endfor %}
{% endblock contenido %}
