{% extends 'cursos/base.html' %}
{% load static %}

{% block presentacion %}
<header>
    <h1 class="site-heading text-center text-faded d-none d-lg-block">
        <span class="site-heading-upper text-primary mb-3">Nuestros-Profesores</span>
    </h1>
</header>
{% endblock presentacion %}

{% block contenido %}

{% block titulo %}
    <title>Profesores</title>
{% endblock titulo %}
    {% for profesor in profesores  %}
    <p style="color: white;">.{{profesor.nombre}} {{profesor.apellido}}</p>
    {% endfor %}

{% endblock contenido %}